# Configuration file

settings {
    #  [default: false]
    B:hideVariantsNEI=false

    # Specific items that should never be unified. Optionally with meta/dmg. [default: [TConstruct:GravelOre], [IC2:itemPartIndustrialDiamond:0]]
    S:unificationBlacklist <
        TConstruct:GravelOre
        IC2:itemPartIndustrialDiamond:0
     >

    # Additionally included types. [default: [blockFuelCoke], [blockPlastic], [dustCharcoal], [dustCoal], [dustDiamond], [dustLapis], [dustObsidian], [dustPlastic], [dustSalt], [dustSaltpeter], [dustStone], [dustSulfur], [dustWood], [fuelCoke], [itemRubber], [sheetPlastic]]
    S:unificationInclusions <
        blockFuelCoke
        blockPlastic
        dustCharcoal
        dustCoal
        dustDiamond
        dustLapis
        dustObsidian
        dustPlastic
        dustSalt
        dustSaltpeter
        dustStone
        dustSulfur
        dustWood
        fuelCoke
        itemRubber
        sheetPlastic
     >

    # Types that should be forced for unification to a specific mod. [default: [oreAluminum:TConstruct]]
    S:unificationOverrides <
        oreAluminum:TConstruct
     >

    # Prefixes that will be prepended to the targets. [default: [block], [dust], [dustTiny], [gear], [gem], [ingot], [nugget], [ore], [plate]]
    S:unificationPrefixes <
        block
        dust
        dustTiny
        gear
        gem
        ingot
        nugget
        ore
        plate
     >

    # ModIds in the order that should be used to find the best items. [default: [minecraft], [ThermalFoundation], [Mekanism], [ImmersiveEngineering], [IC2]]
    S:unificationPriorities <
        minecraft
        ThermalFoundation
        Mekanism
        ImmersiveEngineering
        IC2
		gregtech
     >

    # Item types that should be unified, without their prefixes. [default: [Aluminum], [Amber], [Bronze], [Copper], [Electrum], [Gold], [Invar], [Iron], [Lead], [Lithium], [Nickel], [Peridot], [Platinum], [Ruby], [Sapphire], [Silver], [Steel], [Tin], [Uranium]]
    S:unificationTargets <
        Aluminum
        Amber
        Bronze
        Copper
        Electrum
        Gold
        Invar
        Iron
        Lead
        Lithium
        Nickel
        Peridot
        Platinum
        Ruby
        Sapphire
        Silver
        Steel
        Tin
        Uranium
     >
}


